<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="AFKcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AFKstatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AFKmins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SmgSendEnter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoJoinChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreGroupInvite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IngoreChannelInvite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AFKDM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoreMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>